input, select {
    margin: 5px;
}

.question-box {
    background-color: #46535a;
    margin: 10px 0px;
    padding-top: 10px;
}

.result-box {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}